@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #BEDD8D;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

/*----------header-----------*/

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 40px;
}

header section {
    width: 80%;
    height: 55px;
    background-color: #495931;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 10px 0 0;
}

header section img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header section p {
    color: #E7E7E7;
    font-weight: bold;
    font-size: 24px;
}

/*-----------main-------------*/

main {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*output*/
.output {
    width: 80%;
    height: 100px;
    background-color: #000000;

    border-radius: 0 0 10px 10px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.output p{
    color: white;
    font-size: 32px;
    
    margin: 0 10px 5px 0;
}

/*keyboard*/

.calculator-keyboard{
    display: flex;
    flex-direction: column;
}

.line-keyboard {
    display: flex;
    
}

.simbol {
    background-color: #495931
}

.number {
    background-color: #FFFFFF;
}

/***********footer************/
footer {
    width: 100%;

    background-color: #7E8C68;

    display: flex;
    justify-content: space-around;
}

.desingerns-developers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desingerns-developers img {
    width: 20px;
}

.desingerns-developers p {
    color: #FFFFFF;
    font-size: 12px;
}