* {
    margin: 0;
    padding: 0;

    --background: #101010;
    --util-signals: #000000;
    --char: #FFFFFF;
    --util-buttons: #E7E7E7;
    --util-buttons-hover: #c5c5c5;
    --numbers-buttons: #929292;
    --numbers-buttons-hover: #818181;
    --signal-buttons: #FF9900;
    --signal-buttons-hover: #dd8809;

    --output: #585858;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background); 

}

/****** output *******/
.output {
    width: 100vw;
    height: 100px;

    font-size: 50px;

    background-color: var(--output);
    border: none;

    color: var(--char);

    margin-bottom: 100px;
}




/***** teclado *****/
.board {
    width: 100vw;
    display:flex;
    justify-content: center;
}

.board div {
    margin: 0 0 5px 0;
}

.buttons {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
}

.buttons.zero{
    width: 132px;
    border-radius: 30%;
}

.signal {
    background-color: var(--signal-buttons);
    color: var(--char);
}

.signal:hover{
    transition: 0.5s;
    background-color: var(--signal-buttons-hover);
}

.util-button {
    background-color: var(--util-buttons);
}

.util-button:hover{
    transition: 0.5s;
    background-color: var(--util-buttons-hover)
}

.numbers {
    background-color: var(--numbers-buttons);
    color: var(--char);
}

.numbers:hover{
    transition: 0.5s;
    background-color: var(--numbers-buttons-hover);
}

